:host {
  background-color: white;
  width: 100px;
  height: 80px;
  transition: 300ms;
  border: 1px solid transparent;
  color: lightgrey;
  display: flex;
  font-size: 4rem;
  justify-content: flex-end;
  align-items: center;
}

:host.green {
  color: black;
}

