:host {
  font-family: 'Roboto';
  background-color: white;
  width: 4.5rem;
  padding-top: .25rem;
  height: 2.625rem;
  transition: 300ms;
  border: 1px solid transparent;
  color: lightgrey;
  display: flex;
  font-size: 4rem;
  justify-content: flex-end;
  align-items: center;
  margin: 0 auto;
}

:host.green {
  color: black;
}

