.window {
  width: 5rem;
  height: 4.5rem;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  margin: 12rem auto 8rem;
}

app-block {
  scroll-snap-align: center;
}

app-block:first-of-type {
  margin-top: 3rem;
}

app-block:last-of-type {
  margin-bottom: 3rem;
}

.window:last-child {
  margin-bottom: 2rem;
}

.window::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

.presenter {
  margin: auto;
  background: darkseagreen;
  color: white;
  border-radius: 3rem;
  font-size: 10rem;
  font-family: 'Roboto';
  padding: 2rem;
  text-align: right;
  width: 11rem;
}
