.window {
  width: 5rem;
  height: 4.5rem;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  margin: 4rem auto 2rem;
}

app-block {
  scroll-snap-align: center;
}

app-block:first-of-type {
  margin-top: 3rem;
}

app-block:last-of-type {
  margin-bottom: 3rem;
}

.window:last-child {
  margin-bottom: 2rem;
}

.window::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

.presenter {
  margin: auto;
  background: darkseagreen;
  color: white;
  border-radius: 3rem;
  font-size: 10rem;
  font-family: 'Roboto';
  padding: 1rem;
  text-align: right;
  width: 11rem;
  height: 9rem;
  line-height: 9rem;
}

.input-panel {
  height: 3rem;
  display: flex;
  justify-content: center;
  margin: 3rem auto;
}

.input-panel input {
  width: 3rem;
  text-align: right;
  font-size: xx-large;
  padding-right: .5rem;
  margin-right: .5rem;
  border-radius: .3rem;
}

.input-panel button {
  border-radius: .3rem;
  background: cornflowerblue;
  color: white;
  border-color: transparent;
}
